body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.4;
  background-color: #ffffff;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.head-main {
  display: flex;

  justify-content: center;
  border-color: #e7e9fc;
  width: 1440px;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  margin-bottom: 5px;
}
.container-header-main {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;

  justify-content: center;
  height: 72px;
  align-items: center;
 
}
.header-list-menu{
  padding: 24px 0;
}

.nav-menu a {
  color: #2e2f42;
  margin-right: 10px;
}
.head-href {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-decoration: none;
}
.span-href {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}
.span-href-footer {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.main-menu-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
}

.main-menu-list a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}

.main-menu-list a:hover {
  color: #404bbf;
}
.main-menu-list a:focus {
  color: #4d5ae5;
}
.main-menu-list-studio:active {
  text-decoration: underline;
}
/* .adres-list address a {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
} */
/* .adres-list li a {
  text-decoration: none;
}
.adres-list li a {
  list-style-type: none;
  display: flex;
  align-items: center;
}*/
 .adres-list li {
  padding: 10px;
   display: inline-flex;
}
.adres-list address a:hover {
  color: #404bbf;
}
.adres-list ul{
  display: flex;
  gap: 40px;
  
}

.efective-head {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  top: 72px;
  text-align: center;
  padding-top: 10%;
}
.efective-head .efective-head-h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
  color: #ffffff;
}

.first-text h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}
.first-text p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

.person-img-team img {
  width: 240px;
}
.our-img-list img {
  width: "360px";
  border-bottom-style: solid;
}
.our-img-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}
.our-img-list p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;

  color: #434455;
}
.person-img-team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
}
.person-img-team p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #434455;
}
.button {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  font-weight: 500;
}
.button:hover {
  background-color: #404bbf;
}

.container .our-team {
  background-color: #f4f4fd;
  text-align: center;
  width: 1440px;
  height: 732px;
  align-items: center;

  padding-top: 120px;
}

.our-team-head {
  display: block;
  color: #2e2f42;
  text-align: center;
}

.our-team .person-img-team {
  display: inline-flex;
}
.person-img-team li {
  margin: 10px;
  background-color: #ffffff;
}

.our-team li {
  list-style-type: none;
}
.footer-menu {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  padding-left: 120px;
  padding-top: 100px;
}
.footer-menu p {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.footer-href {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-decoration: none;
}
.span-href-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.head-main {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;

  height: 72px;
}
.our-portfolio {
  display: block;
  text-align: center;
  width: 1128px;
  height: 1000px;
  align-items: center;
  margin-left: 100px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-img-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
}
.our-img-list li {
  margin: 3px;
}
.our-img-list img {
  width: 360px;
  height: 300px;
}

.container-first-section {
  margin-top: 120px;
  margin-left: 156px;
  margin-bottom: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.container-first-section .first-text {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 1128px;
  height: 104px;
}
.container-first-section .first-text li {
  list-style-type: none;
}
.container-efective {
  display: inline-block;
  align-items: center;
}
.container-our-portfoilo {
  border: #e7e9fc;
  border-width: 1px;
  border-style: solid;
}

img {
  display: block; /* maddelere göre düzenleme*/
}
